<h2>Create your celebrity</h2>
<form method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="occupation" placeholder="occupation">
  <input type="text" name="catchPhrase" placeholder="catchphrase">
  <button>Create celebrity</button>
</form>