<h2>EDIT YOUR CELEBRITY</h2>
<form action="/movies/{{celebrity.id}}" method="POST">
  <input type="text" name="name" placeholder="name" value="{{celebrity.name}}">
  <input type="text" name="occupation" placeholder="occupation" value="{{celebrity.occupation}}">
  <input type="text" name="catchPhrase" placeholder="catchphrase" value="{{celebrity.catchPhrase}}">
  <button>Edit celebrity</button>
</form>