<h2>Add movie</h2>
<form method="POST">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="genre" placeholder="Genre">
  <input type="text" name="plot" placeholder="Plot">
  <button>Add movie</button>
</form>